.bold {
    font-weight: bold;
}
 
header {
    background-color: darkgrey;
}

.small-text {
    font-size: xx-small;
}

.ui-autocomplete { 
    max-height: 
    100px; 
    background-color: darkgrey;
    overflow-y: scroll; 
    overflow-x: hidden;
}

th {
    padding: 2px;
}

td { 
    padding: 2px;
}

.name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    margin-top: 0;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.w100 {
    width: 100%;
}

.search-input {
    width: 1.5vw;
}